<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-5">
        <h1>{{productoSeleccionado.nombre}}</h1>
      </div>     
    </div>
    <div class="row">
      <div class="col-sm-5">
        <img [src]="productoSeleccionado.imagen" alt="{{productoSeleccionado.nombre}}" class="img-thumbnail">
        <a name="" id="" class="btn btn-default" [routerLink]="['/inicio']" role="button">Atrás</a>
      </div>
      <div class="col-sm-6">
        <p><b>Descripción:</b> {{productoSeleccionado.descripcion}}</p>
        <p><b>Precio: S/ </b>{{productoSeleccionado.precio}}</p>
        <p><b>Unidades disponibles: </b>{{productoSeleccionado.disponibilidad}}</p>
      </div>
    </div>

  </div>
</div>